.search-container {
  padding: 10px 10px 0 10px;
  font-size: 38px;
}

.search-card {
  padding: 10px 6px 20px 6px;
  border-radius: 16px;
  background: #e6f7ff;
}

.search-card h2 {
  margin-bottom: 4px;
  font-size: 0.6em;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 9px;
  padding: 1px 1px 1px 3px;
  color: #BFBFBF;
  font-size: 0.42em;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #fff;
  height: 30px;
  width: 182px;
}

@media (min-width: 576px) {
  .search-container {
     padding: 21px 39px 50px 36px;
  }

  .search-card {
     padding: 21px 12px 21px 12px;
  }

  .search-card h2 {
     margin-bottom: 7px;
     font-size: 0.7em;
  }

  .form-container input {
     margin-bottom: 14px;
     padding: 3px 1px 3px 6px;
     width: 213px;
  }
}

@media (min-width: 768px) {
  .search-container {
     padding: 32px 59px 75px 54px;
  }

  .search-card {
     padding: 32px 18px 32px 18px;
  }

  .search-card h2 {
     margin-bottom: 9px;
     font-size: 0.8em;
  }

  .form-container input {
     margin-bottom: 19px;
     padding: 4px 1px 4px 10px;
     width: 242px;
  }
}

@media (min-width: 992px) {
  .search-container {
     padding: 43px 79px 100px 72px;
  }

  .search-card {
     padding: 43px 24px 43px 24px;
  }

  .search-card h2 {
     margin-bottom: 12px;
     font-size: 0.9em;
  }

  .form-container input {
     margin-bottom: 24px;
     padding: 6px 1px 6px 13px;
     width: 272px;
  }
}

@media (min-width: 1200px) {
  .search-container {
     padding: 54px 99px 126px 90px;
  }

  .search-card {
     padding: 54px 31px 54px 31px;
  }

  .search-card h2 {
     font-size: 1em;
  }

  .form-container input {
     padding: 8px 1px 8px 17px;
     width: 298px;
  }
}